@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>    
    <link href="~/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/bootstrap-responsive.min.css" rel="stylesheet" />
      <div class="container">
          <div class="row">
              <div class="col-xs-6">
                  <h3 class="page-header">
        <img src="../../imagenes/logo.jpg" alt="" height="60px" width="60px"/>PinsRD Personalizados y más.</h3>
                 @* <div class="btn-group btn-group-ms btn-group-justified">
                      <a class="btn btn-default">1</a>
                      <a class="btn btn-default">2</a>
                      <a class="btn btn-default">3</a>
                      <a class="btn btn-info">4</a>
                  </div>*@
              </div>
          </div>
          <div class="row">
            <div class="span7">
                <div class="span3">
                    <span class="span7">
        <div class="well">
        <a class="btn btn-primary" href="https://www.facebook.com/SilencioConGracia">Facebook</a>
        <a class="btn btn-warning" href="https://www.instagram.com/1pinsrd/">Instagram</a>
            
    
            <p class="hero-unit">
                Somos especialistas en la personalización de articulos de todo tipo.
                Iniciamos como un pequeño negocio dedicado a hacer botones (Pines, Pins Chapas) 
                para todo tipo de eventos, ahora entre otras cosas tambien:
                
            </p
            <p class="">HACEMOS DISEÑO GRAFICO Y PERSONALIZAMOS:</p>
            <table>
                <tr>
                    <td>-Botones</td>
                    <td rowspan="6">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                    <td rowspan="6"><img src="~/imagenes/publi_cidad.jpg" alt="pinsrd" height="75%" width="75%"></td>
                </tr>
                <tr>
                    <td >-Gorras</td>
                </tr>
                <tr>
                    <td >-T shirts</td>
                </tr>
                <tr>
                    <td >-Tasas</td>
                </tr>
                <tr>
                    <td >-Gafas (Lentes)</td>
                </tr>
                <tr>
                    <td >-Props (Carteles para fiestas)</td>
                </tr>
            </table>
            <div class="alert alert-info"><strong class="">Instagram</strong>: <a  href="https://www.instagram.com/1pinsrd/"> <span class="label label-important">1pinsrd</span></a>
<strong>Celular</strong>: <span class="label label-success">809-383-9879</span>
<strong>WhatsApp</strong>: <span class="label label-success">809-304-8570</span>

<strong>Teléfono Local</strong>: <span class="label label-success">809-532-9584</span>

Puedes llamar o enviarnos un mensaje al WhatsApp o FB, nosotros te respondemos al instante.

Hacemos entrega en todas las ZONAS METRO y ZONA UNIVERSITARIA (UASD) en un rango de 48 horas máximo.</div>
        </div>
     </span>
                </div>                
            </div>
        </div>
    
      </div>
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>
